/* work sense font from google font */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@1,300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 
  *{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
  }
  /* header style */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav>ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
  }
  .nav-title{
    color: var(--dark-01, #131313);
font-size: 30px;
font-weight: 700;

  }
  /* banners style */
  .banner-contant{
    color: var(--dark-01, #131313);
    text-align: center;
  }
  .banner-title{
    color: var(--dark-01, #131313);
font-size: 40px;
font-weight: 700;
  }
.description{
    color: var(--dark-03, #727272);
font-size: 16px;
font-weight: 400;
}
.btn{
    color: #FFF;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background: #FF900E;
width: 180px;
height: 60px;
margin-bottom: 10px;
padding:10px ;
cursor: pointer;
}
.banner img{
    width: 100%;
}

/* main style */
main{
    max-width: 1440px;
    margin: 0px;
}
/* tems styles */
.teams-container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    
}
.temp{
    width: 300px;
height: 300px;
}
.record{
    color: #FF900E;
font-size: 25px;
font-weight: 700;
}
.tomato{
    color: var(--dark-01, #131313);
font-size: 25px;
font-weight: 700;
}
.point{
    color: var(--dark-03, #727272);
font-size: 16px;
font-weight: 400;
}
.rong{
    color: var(--dark-03, #727272);
font-size: 25px;
font-weight: 500;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:24px;
}
.team-contant{
    padding-left:73px ;
    padding-right: 73px;
}
.repo
{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;

}
.teach{
    color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
}
/* facts card */
.facts-card .card{
    border-radius: 8px;
border: 1px solid #FF900E;
}
.facts-card{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    text-align: center;
}
.card{
    color: var(--dark-02, #424242);
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
padding: 30px;
}
.rice{
  margin-left: 145px;
}
.card-title{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 600;
}
.response{
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.emiter{
    color: var(--dark-01, #131313);
font-size: 25px;
font-weight: 700;
}
.riport{
    color: var(--dark-03, #727272);
font-size: 16px;
font-weight: 400;
}
.write{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.write img{
 width: 165px;
}
.repojitore{
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    width: 1100px;
height: 50px;
border-radius: 8px;
background: #FFF4E7;
padding: 50px;
margin-left:100px ;
margin-right:100px ;
margin-bottom: 216px;
margin-top:130px ;
}
.template{
    color: var(--dark-02, #424242);
text-align: center;
font-size: 16px;
font-weight: 400;
}
.cat{
    display: flex;
    margin-top: 130px;
    margin-left: 100px;
    gap:100px;
}
.fetaure-contant .card{
    margin-bottom: 20px;
    padding: 10px;
    gap: 50px;
    width: 700px;
    height: 180px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
 .ten-years-badge{
    width: 242px;
height: 160px;
border-radius: 8px;
background: #FF900E;
color: #FFF;
padding: 40px;
padding-bottom: 70px;
 }
 .ten-years-badge, .r{
    font-size: 40px;
    pa
 }

.div-1{
color: var(--dark-03, #727272);
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
}
.pen{
    border-left: 5px solid #FF900E;
    height: 60px;
    padding: 10px;
}
.rain{
    width:600px;
height: 800px;
border-radius: 8px;
background: #FF900E;
}

/* responsive media queries */ 
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, 
    .teams-container
    {
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: 1fr;
    }
.team-contant{
    padding-left:20px ;
    padding-right: 20px;
}
.facts-card{
    flex-direction: column;
    gap: 20px;
   
}
.write{
    flex-direction: column;
    gap: 20px;
}
}

  /* tablet or mobile device   */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .write{
        flex-direction: column;
        gap:20px ;
    }
}